<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>

</body>
</html>

<!-- js script 추가할때 -->
<!-- CSS, 이미지, JS는 정적 파일 src/main/resourse/static 가 기본 경로 -->
<!-- 정적 파일은 URL에서 /로 설정된다. -->